@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

#h2_port {
    color: #363636;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    line-height: 50px;
    user-select: none;
    text-align: center;
    -moz-text-shadow:0 0 10px rgb(70, 169, 187); 
    -webkit-text-shadow:0 0 10px rgb(70, 169, 187); 
    text-shadow:0 0 10px rgb(70, 169, 187);
}

#h3_port {
    color: #363636;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    line-height: 25px;
    margin: -2px 10px;
    text-align: center;
    user-select: none;
}